img {
  max-width: 100%;
  height: auto;
}
#menu-katalog-footer,
#we-works,
#our-clients,
#menu-katalog,
#topmenu-small {
  width: 100%;
  min-width: auto;
}
.we-works-block,
#our-clients {
  overflow: hidden;
}
.right-input,
.right-label,
.menu-btn,
.topmenu-drop__label,
.topmenu-drop,
.menu-drop,
.menu-drop__label {
  display: none;
}
.bx-wrapper .bx-pager {
  display: none;
}
.bx-wrapper {
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}
body {
  overflow-x: hidden;
}
#febdack-block-id,
#content {
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}
.sert {
  min-width: auto;
}
@media (max-width: 1023px) {
  .topmenu-small-block {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  #header {
    height: auto;
  }
  .header-block {
    width: 768px;
    height: auto;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .logo,
  .search-block,
  .header-adres,
  .header-phone {
    float: none;
  }
  .search-block {
    width: 40%;
  }
  .header-adres {
    width: 20%;
  }
  .header-phone {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .header-phone .number {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu-katalog-block {
    width: 768px;
  }
  .menu-drop__label {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/arrow-name-category.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    cursor: pointer;
  }
  .topmenu li:last-child {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
  }
  .topmenu li:hover .level-dve-top-menu {
    display: none;
  }
  .menu-drop:checked ~ .level-dve-top-menu {
    display: block !important;
    top: 40px;
    left: -80px !important;
  }
  .menu-drop:checked + label {
    transform: rotate(270deg);
  }
  #febdack-block-id .febdack-block {
    width: 768px;
    box-sizing: border-box;
  }
  .our-clients__list,
  .we-works-block ul,
  .servises-index-page,
  .catagery-index-page {
    width: 768px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    box-sizing: border-box;
  }
  #febdack-block-id .febdack-block,
  .our-clients__list,
  .we-works-block ul {
    margin-left: auto;
    margin-right: auto;
  }
  .category-first-page-catalog_new {
    float: none;
  }
  .our-clients-block {
    width: 100%;
  }
  .servises-index-page .category-first-page-catalog {
    margin-left: 10px;
    margin-right: 10px;
  }
  .object-block {
    width: 100%;
  }
  #our-clients,
  .our-clients-block,
  #we-works,
  .we-works-block {
    width: 100%;
    height: auto;
  }
  .we-works-block li {
    margin-left: 20px;
    margin-right: 20px;
  }
  .we-works-block li:nth-child(2n)::after {
    display: none;
  }
  .our-advantages,
  .our-advantages li {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .our-clients__list {
    padding: 0 20px;
  }
  .our-clients-block p {
    padding-right: 0;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  .bx-wrapper {
    max-width: 100% !important;
    width: 650px;
    box-sizing: border-box;
  }
  .content-index-page {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .febdack-block {
    width: 100%;
    box-sizing: border-box;
  }
  .feedback-text {
    width: 350px;
    position: static;
  }
  .feedback-phone,
  .feedback-email {
    position: static;
    padding-left: 50px;
    background-position: left bottom;
  }
  .feedback-block-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .feedback-phone div {
    display: inline-block;
    vertical-align: baseline;
    padding-left: 10px;
  }
  .feedback-phone {
    background-size: 30px 31px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .feedback-email {
    background-size: 30px 16px;
  }
  .footer {
    width: 100%;
  }
  .footer-inner {
    width: 768px;
  }
  .footer-inner .footer-menu-block {
    box-sizing: border-box;
  }
  .footer-inner .contacts {
    padding-left: 15px;
  }
  .copyright {
    padding-left: 10px;
  }
  .content-index-page.inside {
    width: 768px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .breadcrumb {
    -ms-flex-order: 2;
        order: 2;
  }
  .left-side {
    -ms-flex-order: 3;
        order: 3;
  }
  .right-side {
    -ms-flex-order: 1;
        order: 1;
    width: 100%;
  }
  .block-header-menu {
    display: inline-block;
    vertical-align: baseline;
  }
  .right-label {
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 9px;
    margin-left: 10px;
    background-image: url(../img/breadcrumb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .rightmenu {
    display: none;
  }
  .right-input:checked ~ .rightmenu {
    display: block;
    margin-bottom: 20px;
  }
  .bottom-navigation,
  .rel-product,
  .otzyv-block {
    width: 768px;
  }
  .shop-block-rel {
    width: 280px;
  }
  .bottom-navigation {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
@media (max-width: 767px) {
  .we-works-block ul,
  .header-phone {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-block {
    padding-left: 10px;
    padding-right: 10px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-adres,
  .header-phone {
    width: 50%;
    font-size: 12px;
  }
  .logo,
  .search-block {
    width: 100%;
  }
  .top_search {
    padding-top: 10px;
  }
  .input-search-top {
    width: 220px;
  }
  .header-phone .number {
    font-size: 16px;
    margin: 0;
  }
  .servises-index-page,
  .catagery-index-page {
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
  }
  .our-clients__list,
  .we-works-block ul {
    width: 320px;
    -ms-flex-align: center;
        align-items: center;
  }
  .our-clients__list,
  .we-works-block ul {
    margin-left: auto;
    margin-right: auto;
  }
  .we-works-block li:after {
    display: none;
  }
  .our-clients-block p {
    margin-right: 0;
  }
  .our-clients__list {
    padding: 0;
  }
  .bx-wrapper {
    width: 220px;
  }
  .febdack-block {
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .feedback-block-btn {
    position: static;
  }
  .feedback-block-btn::after {
    display: none;
  }
  .feedback-text {
    width: 100%;
  }
  .big-z {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  a.modal-link {
    width: 100%;
    font-size: 18px;
    box-sizing: border-box;
  }
  .economy-time {
    margin-left: 0;
  }
  .footer-inner .footer-menu-block {
    width: 300px;
    border-right: none;
  }
  .menu-katalog-block {
    width: 100%;
  }
  .topmenu-drop__label {
    display: inline-block;
    vertical-align: bottom;
    width: 20px;
    height: 30px;
    background-image: url(../img/arrow-name-category.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  #topmenu-small,
  .topmenu-small-block {
    height: auto;
    min-height: 30px;
  }
  #topmenu-small {
    background-image: linear-gradient(to bottom, #454545, #2a2a2a);
  }
  #menu-katalog {
    background-image: linear-gradient(to bottom, #4297d0, #1f5477);
  }
  .topmenu-small-block {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .top-menu-small {
    margin-left: auto;
    margin-right: auto;
  }
  .top-menu-small li:nth-child(n+3) {
    display: none;
  }
  .topmenu-drop:checked ~ li {
    display: inline-block;
  }
  .menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .menu--closed .menu-btn {
    background-image: url(../img/icon-menu-ham.svg);
  }
  .menu--closed .topmenu {
    display: none;
  }
  .menu--opened .menu-btn {
    background-image: url(../img/icon-menu-cross.svg);
    background-size: 24px 24px;
  }
  .menu--opened .topmenu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: auto;
  }
  .menu--opened .topmenu li a {
    width: 100%;
    box-sizing: border-box;
  }
  .menu--opened .menu-drop__label {
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .menu--opened .menu-drop:checked ~ .level-dve-top-menu {
    left: 0 !important;
    width: 100%;
  }
  .modal {
    width: 260px;
    box-sizing: border-box;
  }
  .modal-order form {
    width: 100%;
  }
  .modal-order form input[type="text"],
  .modal-order form input[type="tel"],
  .modal-order form input[type="email"] {
    width: 190px;
  }
  .fields textarea {
    width: 210px;
  }
  li.required_field,
  .modal-order input[type="submit"] {
    margin-left: 0;
  }
  .modal-order .block_header {
    padding-top: 10px;
    font-size: 24px;
  }
  .fields li .infofield {
    width: auto;
  }
  .bottom-navigation,
  .otzyv-block,
  .rel-product,
  .content-index-page.inside {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #febdack-block-id .febdack-block,
  .copyright {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .what-you-get-id {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .left-side,
  .shop_text.big {
    width: 100%;
    margin-right: 0;
  }
  .shop_text img {
    width: 280px;
    height: auto;
  }
  .table-wrap {
    width: 100%;
    overflow-x: scroll;
  }
  .footer-inner .contacts {
    width: 100%;
  }
  .shop-item-right {
    margin-bottom: 20px;
  }
  .zoom {
    top: 25%;
    left: 50%;
    transform: translatex(-50%);
    width: 32px;
    height: 32px;
    background-size: contain;
  }
  .otzyv-name {
    font-size: 14px;
  }
}
