img {
  max-width: 100%;
  height: auto;
}

#menu-katalog-footer,
#we-works,
#our-clients,
#menu-katalog,
#topmenu-small {
  width: 100%;
  min-width: auto;
}

.we-works-block,
#our-clients {
  overflow: hidden;
}

.right-input,
.right-label,
.menu-btn,
.topmenu-drop__label,
.topmenu-drop,
.menu-drop,
.menu-drop__label {
  display: none;
}

.bx-wrapper .bx-pager {
  display: none;
}

.bx-wrapper {
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}

body {
  overflow-x: hidden;
}

#febdack-block-id,
#content {
  margin-left: auto;
  margin-right: auto;
  min-width: auto;
}

.sert {
  min-width: auto;
}